.header {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 20px;;
    padding: 10px;
    border: 2px black solid !important;
}
#main_header {
    font-family: 'Sedgwick Ave', cursive;
    font-size: 35px !important;
}
#noter {
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 20px;;
    padding: 10px;
    border: 2px black solid !important;
    font-family: 'Raleway', sans-serif;
    font-size: 25px !important;
}
#font_size_div {
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 20px;;
    padding: 10px;
    border: 2px black solid !important;
    font-family: 'Roboto Mono', monospace;
    font-size: 25px !important;
}
#result_tag {
    font-family: 'Roboto Mono', monospace;
    font-size: 25px !important;
}
#footer {
    font-family: 'Sacramento', cursive;
    font-size: 25px;
    background-color: lightgray;
    padding-bottom: 5px;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    bottom: 10px !important;
    margin-left: 10px;
    position: fixed;
    border: 2px black solid;
    z-index: 999;
}
canvas {
    border: 2px black solid;
    border-radius: 20px;
}
body {
    height: 815px;
}